@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}
  
    @media only screen and (max-width: 768px) {
      .btn-style{
            background: #134E80;
            padding:7px;
            font-size: 9px;
            color:#fff;
            outline: none;
            transform: skew(-23deg);
            margin-top:0.9px;

    }
    
    .btn-background{
        background: red;
        height:32px;
        width:42px;
        font-size:9px;
        transform: skew(-23deg);
        color:#fff;
        outline:none;
        margin-left:-4px;
    }
    

 
    }
@media only screen and (min-width: 769px) {
    .btn-style{
             background: #134E80;
              padding:7px;
              font-size: 16px;
              color:#fff;
              outline: none;
            transform: skew(-23deg);
            margin-top:0.9px;

    }
    .btn-background{
        background: red;
        height:40px;
        width:42px;
        font-size:14px;
        transform: skew(-23deg);
        color:#fff;
        outline:none;
        margin-left:-4px;
    }
    
        #my_dialog .modal-dialog{
    right: 136px;
    top: 125px;
    width: max-content;
    left: 160px;
}
  
}

.swal-container {
        z-index: 999999;
      }
.icon-back{
   background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 3px;
    text-align:center;
}

@media (max-width: 321px){
           #sticky_ribben  ol li{
    margin: 1em;
    position: absolute !important;
    z-index: 999999 !important;
    max-width: 112px;
    /*background-color: #3f51b5;*/
    margin-top: 0px;
    left: 224px;
    top: 14%;
    -ms-transform: rotate(20deg);
    transform: rotate(270deg);
}

        #my_dialog .modal-dialog{
    margin-left: -121px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -111px;
    top: 100px;
    width: max-content;
   max-width: 300px;
}
}
   /* Media Query for Mobile Devices */ 
        @media (max-width: 480px) { 
#sticky_ribben ol,li{
  list-style:none;
}
#sticky_ribben ol{
  overflow:hidden;
  /*padding:3em;*/
}
#sticky_ribben ol li a{
  text-decoration:none;
  color:#000;
  background:#ff5722;
  display:block;
  /*height:10em;*/
  width:10em;
  padding:1em;
  
}

#sticky_ribben  ol li{
    margin: 1em;
    float: left;
    position: absolute !important;
    z-index: 999999 !important;
    max-width: 115px;
    /*background-color: #3f51b5;*/
    margin-top:0px;
    /* right: 17%; */
    left: 304px;
    top: 13%;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(270deg);
}

        #my_dialog .modal-dialog{
    margin-left: -121px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -111px;
    top: 100px;
    width: max-content;
   max-width: 350px;
}
        } 
        
        @media (max-width:360px){
           #sticky_ribben  ol li{
         margin: 1em;
        float: left;
       position: absolute !important;
       z-index: 999999 !important;
        max-width: 115px;
        /*background-color: #3f51b5;*/
        margin-top:0px;
       left: 245px;
       top: 13%;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(270deg);
}
        #my_dialog .modal-dialog{
    margin-left: -121px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -111px;
    top: 100px;
    width: max-content;
   max-width: 320px;
}


}

 

 @media (max-width:400px){
       #sticky_ribben ol li{
    margin: 1em;
    position: absolute !important;
    z-index: 999999 !important;
    max-width: 112px;
    /*background-color: #3f51b5;*/
    margin-top: 0px;
    left: 291px;
    top: 14%;
    -ms-transform: rotate(20deg);
    transform: rotate(270deg);
}
        #my_dialog .modal-dialog{
    margin-left: -121px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -111px;
    top: 100px;
    width: max-content;
   max-width: 350px;
}
        }
        
    @media (max-width:375px){
    #sticky_ribben ol li{
    margin: 1em;
    position: absolute !important;
    z-index: 999999 !important;
    max-width: 112px;
    /*background-color: #3f51b5;*/
    margin-top: 0px;
    left: 221px;
    top: 14%;
    -ms-transform: rotate(20deg);
    transform: rotate(270deg);
}
#sticky_ribben ol li span{
    font-size:12px;
    
}
        #my_dialog .modal-dialog{
    margin-left: -88px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -88px;
    top: 100px;
    width: max-content;
   max-width: 340px;
}
        }
          
          
          
        /* Media Query for low resolution  Tablets, Ipads */ 
        @media (min-width: 481px) and (max-width: 767px) { 
 #sticky_ribben  ol,li{
  list-style:none;
}
#sticky_ribben ol{
  overflow:hidden;
  padding:3em;
}
#sticky_ribben ol li a{
  text-decoration:none;
  color:#000;
  background:#ff5722;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
 
}
#sticky_ribben ol li{
  margin:1em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
  background-color:#ff3385;
}

        #my_dialog .modal-dialog{
    margin-left: -121px;
    top: 125px;
    width: max-content;
}
 .modal-dialog{
    margin-left: -111px;
    top: 100px;
    width: max-content;
   max-width: 350px;
}

    } 
          
        /* Media Query for Tablets Ipads portrait mode */ 
        @media (min-width: 768px) and (max-width: 1024px){ 

#sticky_ribben ol,li{
  list-style:none;
}
#sticky_ribben ol{
  overflow:hidden;
  padding:3em;
}
#sticky_ribben ol li a{
  text-decoration:none;
  color:#000;
  background:#ff5722;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  transform: rotate(270deg);
}
#sticky_ribben ol li{
  margin: 1em;
    float: left;
    position: absolute !important;
    z-index: 999999 !important;
    max-width: 115px;
    /*background-color: #3f51b5;*/
    margin-top:2px;
    /* right: 17%; */
    left:0px;
    top: 6%;
   -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(270deg);
}
       } 
          
        /* Media Query for Laptops and Desktops */ 
        @media (min-width: 1025px) and (max-width: 1280px){ 

      #sticky_ribben ol,li{
  list-style:none;
}
#sticky_ribben ol{
  overflow:hidden;
  padding:3em;
}
#sticky_ribben ol li a{
  text-decoration:none;
  color:#000;
  background:#ff5722;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  transform: rotate(270deg);
}
#sticky_ribben ol li{
  margin:1em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
  background-color:#ff3385;
}
        } 
          
        /* Media Query for Large screens */ 
        @media (min-width: 1281px) { 
#sticky_ribben ol,li{
  list-style:none;
}
#sticky_ribben ol{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#sticky_ribben ol li a{
  text-decoration:none;
  color:#000;
  background:#ff5722;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  transform: rotate(270deg);
}
#sticky_ribben ol li{
  margin:1em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
  /*background-color:#3f51b5;*/
}


        } 

  
.dropdown-item {
    /* display: block; */
    width: 100%;
    padding: .25rem 1.5rem;
    /* clear: both; */
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0;
}
     
     .note-editor.note-frame .note-editing-area .note-editable {
       background-color: #ead28a!important;
}     
        /* Media Query for Mobile Devices */ 
        @media (max-width: 480px) { 

#dialog ul,li{
  list-style:none;
  width: 300px;
  left: -32px;
}
#dialog ul{
  overflow:hidden;
  padding:3em;
}
#dialog ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog ul li{
  margin:5em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  word-break: break-all;
  margin-top: 12px;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}



/******************************************************************/
#dialog2 ul,li{
  list-style:none;
  width: 300px;
  left: -32px;
}
#dialog ul{
  overflow:hidden;
  padding:3em;
}
#dialog2 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog2 ul li{
  margin:5em;
  float:left;
  position:relative !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog2 ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog2 ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  margin-top: 12px;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog2 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog2 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog2 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog2 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/*********************************************************************/








        } 
          
        /* Media Query for low resolution  Tablets, Ipads */ 
        @media (min-width: 481px) and (max-width: 767px) { 
             h2,p{
  font-size:100%;
  font-weight:normal;
}
#dialog{

}
#dialog ul,li{
  list-style:none;
}
#dialog ul{
  overflow:hidden;
  padding:3em;
}
#dialog ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog ul li{
  margin:5em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  word-break: break-all;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


/**************************************************************/

#dialog2{

}
#dialog2 ul,li{
  list-style:none;
}
#dialog2 ul{
  overflow:hidden;
  padding:3em;
}
#dialog2 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog2 ul li{
  margin:5em;
  float:left;
  position:relative !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog2 ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog2 ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog2 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog2 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog2 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog2 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/********************************************************************/
        } 
          
        /* Media Query for Tablets Ipads portrait mode */ 
        @media (min-width: 768px) and (max-width: 1024px){ 
             h2,p{
  font-size:100%;
  font-weight:normal;
}
#dialog{

}
#dialog ul,li{
  list-style:none;
}
#dialog ul{
  overflow:hidden;
  padding:3em;
}
#dialog ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog ul li{
  margin:5em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  word-break: break-all;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


/*********************************************************/

#dialog2{

}
#dialog2 ul,li{
  list-style:none;
}
#dialog2 ul{
  overflow:hidden;
  padding:3em;
}
#dialog2 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog2 ul li{
  margin:5em;
  float:left;
  position:relative !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog2 ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog2 ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog2 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog2 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog2 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog2 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/**********************************************************/
        } 
          
        /* Media Query for Laptops and Desktops */ 
        @media (min-width: 1025px) and (max-width: 1280px){ 
             h2,p{
  font-size:100%;
  font-weight:normal;
}
#dialog{

}
#dialog ul,li{
  list-style:none;
}
#dialog ul{
  overflow:hidden;
  padding:0;
}
#dialog ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog ul li{
  margin:5em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  word-break: break-all;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/********************************************************************/
#dialog2{

}
#dialog2 ul,li{
  list-style:none;
}
#dialog2 ul{
  overflow:hidden;
  padding:0;
}
#dialog2 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog2 ul li{
  margin:5em;
  float:left;
  position:relative !important;
  z-index:999999 !important;
  max-width: 307px;
}
#dialog2 ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog2 ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog2 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog2 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog2 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog2 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/**********************************************************/
        } 
          
        /* Media Query for Large screens */ 
        @media (min-width: 1281px) { 
             h2,p{
  font-size:100%;
  font-weight:normal;
}
#dialog{

}
#dialog ul,li{
  list-style:none;
}
#dialog ul{
  overflow:hidden;
  padding:3em;
}
#dialog ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog ul li{
  margin:-2em;
  float:left;
  position:absolute !important;
  z-index:999999 !important;
  max-width: auto;
}
#dialog ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  word-break: break-all;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


/**************************************************************/

#dialog2{

}
#dialog2 ul,li{
  list-style:none;
}
#dialog2 ul{
  overflow:hidden;
  padding:3em;
}
#dialog2 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
 
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
#dialog2 ul li{
  margin:-2em;
  float:left;
  position:relative !important;
  z-index:999999 !important;
  max-width: auto;
}
#dialog2 ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}
#dialog2 ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
}
/*ul li a{*/
/*  -webkit-transform: rotate(-6deg);*/
/*  -o-transform: rotate(-6deg);*/
/*  -moz-transform:rotate(-6deg);*/
/*}*/
#dialog2 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
#dialog2 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
#dialog2 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#dialog2 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
/*******************************************************************/



        } 

div#logoutbutton {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 50px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
}

div#readerbutton {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 89px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
div#whiteboard {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 16px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
div#add_sticky {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 198px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 2px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
    float: right;
}
div#add_sticky i {
     font-weight: bold !important; 
    margin-left: -6px !important;
}






div#backbutton {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 240px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 2px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
    float: right;
}
div#backbutton i {
     font-weight: bold !important; 
    margin-left: -6px !important;
}
div#logoutbutton2 {
    color: #05156f;
    position: absolute;
    z-index: 999999;
    right: 129px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    height: 30px;
    top: 6px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
div#logoutbutton2 i{
      font-weight: bold !important;
  margin-left: -6px !important;
}
.fa-power-off{
  font-weight: bold !important;
  margin-left: -6px !important;
}
.fa-user{
  font-weight: bold !important;
  margin-left: -4px !important;
}
.fa-pencil{
  font-weight: bold !important;
  margin-left: -4px !important;
}
.modal {
    position: fixed;
    top: 34px !important;
    right: 0 !important;
    z-index: 999999;
    display: none;
    width: 240px !important;
    height: 100%;
    overflow: hidden;
    outline: 0;
    left: auto;
}
.modal-content{ height: auto; }
.modal-header, .modal-footer{background-color: #007bff;}
 .toggal-cls{ width:500px !important;}
@media only screen and (max-width: 479px) {
    .toggal-cls{ width:100% !important; top:0;}
    .modal-content {
    height: 100%;
}
/*.modal{top:0 !important;}*/
}
#reader_notes_text2 .note-editor{
    
    width:400px;
    
}

.modal-backdrop {
  display: none !important;
}

.modal-dialog {
  position: fixed;
  /*width: 60%;*/
  /*margin: 0;*/
  padding: 10px;
}

.note-editable ol{
    
     display: block!important;
    list-style-type: decimal!important;
}
.note-editable ul{
    
    display: block!important;
    list-style-type: disc!important;
}
.note-editable ol li{
    
    /*display: block!important;*/
    list-style-type: decimal!important;
}
.note-editable ul li{
    
    /*display: block!important;*/
    list-style-type: disc!important;
}




/*.note-editor.note-frame .note-editing-area .note-editable ol{*/
    
/*     display: block!important;*/
/*    list-style-type: decimal!important;*/
/*    margin-top: -80px!important;*/
/*}*/
/*.note-editor.note-frame .note-editing-area .note-editable ul{*/
    
/*    display: block!important;*/
/*    list-style-type: disc!important;*/
/*    margin-top: -80px!important;*/
/*}*/
/*.note-editor.note-frame .note-editing-area .note-editable ol li{*/
    
/*    display: block!important;*/
/*    list-style-type: decimal!important;*/
/*    margin-top: -80px!important;*/
/*}*/
/*.note-editor.note-frame .note-editing-area .note-editable ul li{*/
    
/*    display: block!important;*/
/*    list-style-type: disc!important;*/
/*    margin-top: -80px!important;*/
/*}*/



