.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    /* background-color: #007bff; */
    color: #fff !important;
    border: #367fa9 2px solid !important;
    background: -webkit-linear-gradient(top, #367fa9, #74c6f5, #367fa9) !important;
    background: linear-gradient(top, #367fa9, #74c6f5, #367fa9) !important;
}
.is-warning option:hover{background-color:yellow;}

.select2-warning+.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #efa2a9 !important;
}

.select2-container--default .select2-warning .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-warning .select2-results__option--highlighted[aria-selected]:hover, .select2-warning .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-warning .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #da2839 !important;
    color: #fff !important;
}

.btn-block+.btn-block{
        margin-top: 0px;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center; outline: none;	
}
.chiller_cb input { outline: none;
  display: none;
}
.chiller_cb input:checked ~ span {
    background: #f8d57d;
    border-color: #d3a64d;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 11px;
    left: 0.37rem;
    height: 2PX !important;
    color: #000; background-color: #000;
}
.chiller_cb span:after {
  transform: rotate(35deg); color: #000; background-color: #000;
  bottom: 0.35rem;
  left: 0.2rem;
}	
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    outline: none !important;
}
label.font-s {
    font-weight: normal !important;
}

.ul-edit{ font-size: 14px; line-height: 14px; opacity: 0;}
.custom-control-input.is-warning~.custom-control-label,a {
    color: #e3a836;
}
a:hover{ opacity: .8; color: #e3a836;}
.table-hover tbody tr:hover .ul-edit{ opacity: 1 }
.dots-icon{ width: 10px; height: 10px; border-radius: 50%; background-color: #000; }
.table-bordered td, .table-bordered th{ outline: none; }
.undreline{ text-decoration: underline; }




.page-link{color: #000 !important; box-shadow: none;}
.page-item.active .page-link,.btn-add,.custom-control-input.is-warning:checked~.custom-control-label::before{     color: #fff !important;
    border: #367fa9 2px solid !important;
    background: -webkit-linear-gradient(top, #367fa9, #74c6f5, #367fa9) !important;
    background: linear-gradient(top, #367fa9, #74c6f5, #367fa9) !important;}

.badge-warning {
    color: #1f2d3d;
    background-color: #e3a836;
}
.form-control.is-warning {
    border-color: #e3a836;
}
.select2-container--default .select2-warning .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-warning .select2-results__option--highlighted[aria-selected]:hover, .select2-warning .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-warning .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #e3a836 !important;
    color: #fff !important;
}
.select2-warning+.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #e3a836 !important;
}
 /*   .select2-container--default .select2-selection--single {
    border: 1px solid #e3a836;
    padding: .46875rem .75rem;
    height: calc(2.25rem + 2px);
}*/
.select2-container--default .select2-warning .select2-selection--multiple .select2-selection__choice, .select2-warning /*.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e3a836;
    border-color: #e3a836;
    color: #1f2d3d;
}*/
.select2-container--default .select2-selection--multiple {
    border: 1px solid #e3a836;
    min-height: calc(2.25rem + 2px);
}
.btn-warning {
    color: #1f2d3d;
    background-color: #e3a836;
    border-color: #e3a836;
    box-shadow: none;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
/*i[title]:hover:after {
  content: attr(title);
  width:600px;
  background-color: #000; color: #fff;
}*/


.bootstrap-datetimepicker-widget{ width: 310px !important; }


i.tip {
    text-decoration: none
}
i.tip:hover {
    cursor: help;
    position: relative
}
i.tip span {
    display: none
}
i.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background-color: #000; color: #fff; text-align: center;
    /*background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;*/
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}

    .light-weight {
      font-weight: normal !important;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: #fbde8a;
      background-color: #d3a54b;
      box-shadow: none;
  }
  .custom-control-label::before {
      top: 50%;
      transform: translateY(-50%);
  }
  label.custom-control-label h5{ margin: 0; }
  .no-wrap {
      white-space: nowrap;
  }
  .custom-control-label::after {
    top: 50%;
      transform: translateY(-50%);
  }
  .packging-content {
    position: absolute;
    bottom: 100%;
    background-color: #fff;
    padding: 7px;
    font-size: 14px; display: none;
}
.hover-effect-packging:hover .packging-content{display: block;}
    .light-weight {
      font-weight: normal !important;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: #fbde8a;
      background-color: #d3a54b;
      box-shadow: none;
  }
  .custom-control-label::before {
      top: 50%;
      transform: translateY(-50%);
  }
  label.custom-control-label h5{ margin: 0; }
  .no-wrap {
      white-space: nowrap;
  }
  .custom-control-label::after {
    top: 50%;
      transform: translateY(-50%);
  }
  .packging-content {
    position: absolute;
    bottom: 100%;
    background-color: #fff;
    padding: 7px;
    font-size: 14px; display: none;
}
.hover-effect-packging:hover .packging-content{display: block;}
.modal-lg, .modal-xl {
    max-width: 1000px;
}
table.loose {
    max-height: 367px;
    display: block;
    width: 100%;
    overflow: auto;
}
table.solitaire{  max-height: 680px;
    display: block;
    width: 100%;
    overflow: auto;}
table.solitaire1{max-height: 304px;}
.table.text-center, .table.text-center td, .table.text-center th {
    text-align: center;
    vertical-align: middle;
}
    .light-weight {
      font-weight: normal !important;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: #fbde8a;
      background-color: #d3a54b;
      box-shadow: none;
  }
  .custom-control-label::before {
      top: 50%;
      transform: translateY(-50%);
  }
  label.custom-control-label h5{ margin: 0; }
  .no-wrap {
      white-space: nowrap;
  }
  .custom-control-label::after {
    top: 50%;
      transform: translateY(-50%);
  }
  .packging-content {
    position: absolute;
    bottom: 100%;
    background-color: #fff;
    padding: 7px;
    font-size: 14px; display: none;
}
.hover-effect-packging:hover .packging-content{display: block;}

    .light-weight {
      font-weight: normal !important;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: #fbde8a;
      background-color: #d3a54b;
      box-shadow: none;
  }

  .custom-control-label::before {
      top: 50%;
      transform: translateY(-50%);
  }
  label.custom-control-label h5{ margin: 0; }
  .no-wrap {
      white-space: nowrap;
  }
  .custom-control-label::after {
    top: 50%;
      transform: translateY(-50%);
  }
  .packging-content {
    position: absolute;
    bottom: 100%;
    background-color: #fff;
    padding: 7px;
    font-size: 14px; display: none;
}
.hover-effect-packging:hover .packging-content{display: block;}
.vertical-align-middle{ vertical-align: middle !important;}
/*table ,tr td{
    border:1px solid red
}
tbody {
    display: block;
    height: 320px;
    overflow: auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}*/
table.loose {
    max-height: 367px;
    display: block;
    width: 100%;
    overflow: auto;
}
table.solitaire{  max-height: 680px;
    display: block;
    width: 100%;
    overflow: auto;}
.table.text-center, .table.text-center td, .table.text-center th {
    text-align: center;
    vertical-align: middle;
}



/*new 06/07/2021*/
a.brand-link {
    background-color: #367fa9;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    background-color: #367fa9 !important;

}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 50%);
}
.add-teachers .modal-header {
    background-color: #367fa9;
    color: #fff;
}
.custom03 p {
    position: relative;
}
.custom03 select,.custom03 textarea,
.custom03 label {
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 15px; text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.custom03 input[type=text],.custom03 select,.custom03 textarea {
    width: 300px;
    padding: .5em .5em .5em .5em; width: 100%;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
}
.custom03 label {
    position: absolute;
    top: .7em;
    left: .5em;
    color: #aaa;
    line-height: 1;
}
/*.custom03 input:focus,.custom03 select:focus,.custom03 textarea:focus {
    padding-left: .5em;
}*/
.custom03 input:focus + label,.custom03 select:focus + label,.custom03 textarea:focus + label {
    /*top: -2.5em;*/
    left: 0px;
    padding: 2px;
    border-radius: .2em;
    background-color: transparent;
    color: #615f67;
    font-size: 14px;
}
.custom03 input:focus + label::after,.custom03 select:focus + label::after,.custom03 textarea:focus + label::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    margin-left: -6px;
    border: 6px solid transparent;
    border-top-color: transparent;
}

.top-label{
    top: -2.5em;
    left: 0;
    padding: 2px;
    border-radius: .2em;
    background-color: transparent;
    color: #615f67;
    font-size: 14px;
}
label.top-label::after{display: none;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%; left: 10px;
    margin-left: -6px;
    border: 6px solid transparent;
    border-top-color: #3498db;

}
label.top-label {
    position: absolute;
        margin-bottom: 0;
    left:0em;
    color: #615f67;
    line-height: 1;
    bottom: 100%;
    top: auto;
}
.pt-5, .py-5 {
    padding-top: 8px!important;
}
.content-header {
    padding: 0px;
}
.grid-row{ display: grid;  grid-gap: 2px; margin-bottom: 4px; }
.grid-row-2{ grid-template-columns: repeat(2, 1fr); }
.grid-row-2-custom{ grid-template-columns: 10% 88.5%; }
.grid-row-2-cust{ grid-template-columns: 69% 30.5%; }
.grid-row-3{ grid-template-columns: repeat(3, 1fr);  }
.grid-row-4{ grid-template-columns: repeat(4, 1fr); align-items: center; }
.grid-row-cust-4{grid-template-columns: 30% 30% 30% 8%;}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #367fa9;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{  background-color: #3498db;
    border-color: #367fa9; color: ;}
    .icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
    background-color: #3498db;
    border-color: #367fa9; 
}
.select2-container--default .select2-results__option,.select2-container--default .select2-selection--single .select2-selection__rendered{ text-transform: capitalize; }
.card-info:not(.card-outline)>.card-header {
    background-color: #3498db;
}
.card-body {
    background-color: #e9ecef;
}

body
{
    counter-reset: Serial;
    font-size:13px; 
        /* Set the Serial counter to 0 */
}
.btn{
    font-size:13px; 
}
.custom03 select, .custom03 textarea, .custom03 label{
    font-size:13px; 
}
.form-control{
    font-size:13px; 
}
.top-label{
    font-size:13px; 
}
@media print {
    font-size:13px; 
}
table#sno
{
    border-collapse: separate;
}

#sno tr td:first-child:before
{ text-align: center;
  counter-increment: Serial;      /* Increment the Serial counter */
  content: "" counter(Serial); /* Display the counter */
}

#p-0 td{ padding: 0; }


label:not(.form-check-label):not(.custom-file-label){font-weight: normal !important;}